
/* Stylesheets */

/* 
  Foundation Import 
*/

@import "~foundation-sites/scss/foundation";

/* 
  Foundation Custom Settings 
*/

// Foundation everything just bangs everything from foundation
/*@include foundation-everything;*/
@import "/settings";

/* 
  Foundation Includes 

  remove includes that we don't need
*/

// @import 'foundation';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
// @include foundation-xy-grid-classes;
// @include foundation-grid;
@include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
// @include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

/*
  Partial Stylesheets
*/

@import "partials/layout.scss";
@import "partials/navigation.scss";
@import "partials/typography.scss";
@import "partials/animation.scss";

.button-group--underline {
  border-bottom: 1px solid $dark-gray;
  height: 64px;
  margin-bottom: 0;

  .button {
    border: none !important;
    padding-left: 0;
    padding-right: 0;
    margin-right: $global-margin * 2;
    bottom: -1px;
    position: relative;
    padding-bottom: 8px;
    transition: 0.15s all ease;
  }

  .button--active {
    background: transparent;
    border-bottom: 4px solid $white !important;
    color: $white;
    font-weight: 600;
    padding-bottom: 16px;
  }
}

.product-card {
  .product-card__thumbnail {
    width: 100%;
  } 

  h4 {
    margin-top: $global-margin;
  }
}

.button {
  // font-weight: 600;

  &.alert {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

button:focus {outline:0;}

.thumb-container {
  border: 1px solid $light-gray;
  overflow: hidden;
  position: relative;
}

.thumb--blur {
  filter: blur(8px);
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Footer {
  background: #1e1e1e;
  padding: 30px 0;
}
#NavBar {
  position: relative;
  z-index: 3;
}
.ReactModalPortal {
  position: relative;
  z-index: 99;
}

.hero {
  top: -90px;
  background-color: #EBEBEB;
  padding-top: 196px;
  padding-bottom: 196px;

  // h1 {
  //   font-size: 60px;
  // }
}



.ReactModal__Overlay {
  background: none !important;
}

.ReactModal__Content {
  width: 360px;
  height: 600px;
}